@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'RoseyFamily';
  src: url('/fonts/Family-Medium.woff2') format('woff2'),
       url('/fonts/Family-Medium.woff') format('woff'),
       url('/fonts/Family-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium weight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RoseyFamily';
  src: url('/fonts/Family-Bold.woff2') format('woff2'),
       url('/fonts/Family-Bold.woff') format('woff'),
       url('/fonts/Family-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold weight */
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'RoseyFamily', ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  cursor: url('/images/rose_cursor.svg') 16 16, auto;
}

html, body, * {
  cursor: url('/images/rose_cursor.svg') 16 16, auto !important;
}



